
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$orange: #f6993f;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom
$yellow: #2222ff;
$red: #ff0f00;
$lightblue: #92DCE5;
$darkerblue: #0ebdd2;
$white: #fff;
$black: #0b0C10;