
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Alertify
@import '~alertifyjs/build/css/alertify.css';
@import '~alertifyjs/build/css/themes/default.css';

// Datatables
@import '~datatables/media/css/jquery.dataTables.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body{
  padding-top:20px;
  font-family:Roboto, sans-serif;
  text-align:center;
  background: #F7F9FB !important;
  color:#222;
  padding-bottom:40px;
  padding-left: 5rem;
  padding-right: 5rem;
}

#focus{
  background:rgba(255,0,0,0.7);
  padding:20px;
  font-weight:bold;
  font-size:30px;
  color:#fff;
}

.mono{
  font-family:"Cutive Mono", monospace;
}

.wrong{
  background:$red;
  color:#fff;
}

hr{
  margin:1em 0;
  max-width:800px;
  border:none;
  border-top:1px solid rgba(255,255,255,0.3);
  margin:0 auto;
}

.results{
  position:relative;
  top:0;
  left:0;
  right:0;
}

.stats{
  overflow: hidden;
  margin-bottom: 1em;
  list-style: none;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 900;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  li{
    color: black;
    width: 20%;
    float: left;
    font-weight: 100;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
  }
}

.target{
  color: #a5a5a5;
  text-align:left;
  font-size:32px;
  min-width:300px;
  min-height:40px;
  width:100%;
  display:inline-block;
  position:relative;
  white-space:pre;
  background: #fff;
  box-shadow:inset 0 0 10px 0 rgba(255,255,255,0.2);
  padding:22px 10px 10px;
  &:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #92DCE5;
    left: 10px;
    top: 60px;
    -webkit-animation:cursor_flash .5s infinite;
    -moz-animation:   cursor_flash .5s infinite;
    -o-animation:     cursor_flash .5s infinite;
    animation:        cursor_flash .5s infinite;
  }
}


@-webkit-keyframes cursor_flash {
  0%   { background: $white; }
  50%  { background: $lightblue; }
  100% { background: $white; }
}
@-moz-keyframes cursor_flash {
  0%   { background: $white; }
  50%  { background: $lightblue; }
  100% { background: $white; }
}
@-o-keyframes cursor_flash {
  0%   { background: $white; }
  50%  { background: $lightblue; }
  100% { background: $white; }
}
@keyframes cursor_flash {
  0%   { background: $white; }
  50%  { background: $lightblue; }
  100% { background: $white; }
}

.button{
  display:inline-block;
  padding:8px 10px;
  background:#057f24;
  border-radius:2px;
  color:#fff;
}

#textarea{
  position:absolute;
}

.spell{
  font-size:40px;
  font-weight:900;
  letter-spacing:2px;
  span{
    color:$yellow;
  }
}

textarea{
  color:#fff;
  width:60%;
  margin:1em auto;
  display:none;
  position:relative;
  white-space:pre;
  background:#333;
  box-shadow:inset 0 0 10px 0 rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.4);
}

.your-attempt{
  background: #222;
  color: #fff;
  padding: 10px;
  min-height: 180px;
  white-space: pre-wrap;
  font-size: 1.4rem;
}

.results{
  font-family: Roboto, sans-serif;
}

.settings{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  padding:3px 6px 6px;
  background:#444;
  font-family:Roboto, sans-serif;
  color:#999;
  text-align:left;
  text-shadow:0 0 6px rgba(0,0,0,0.6);
  border-top:3px solid #222;
  font-size:12px;
  a{
    color:#fff;
    transition:color 0.2s;
    text-decoration:none;
    &:hover{
      color:#ccf;
    }
  }
}

.twitter a{
  color:rgba(255,0,0,0.7);
  text-decoration:none;
  &:hover{
    text-decoration:underline;
  }
}

#output {
  color: $darkerblue;
  padding: 2rem;
}

.content-container {
  box-shadow: 0 1px 27px 8px rgba(132, 132, 132, 0.2);
}

.results {

  h2 {
    padding: 2rem;
    color: #6f6f6f;
    font-size: 2.25rem;
    padding-bottom: 0.5rem;
  }
}

.stats li > span {
  color: #00BCD4;
}

@media all and (max-width: 800px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

#btn-play-again {
  border-radius: unset;
  cursor: pointer;
  background-color: #0ebdd2;
  border-color: #0ebdd2;
  font-size: 1.5rem;
  margin-top: 1rem;
  display: none;
}

#results_table_wrapper {
  width: 100%;
}